<h1>Add a new homework assignment</h1>

<%= form_for @assignment do |f| %>
  Class* : <%= f.collection_select :course, @courses, :id, :name, include_blank: true %><br />
  Date* : <%= f.text_field :date, { value: Date.today.strftime('%m-%d-%Y') } %><br />
  <div id='sections-container'>
    <%= render 'assignment_section', form: f %>
  </div>
  <%= add_assignment_section f %>
  <%= f.submit 'Save Assignment' %>
<% end %>

<%= javascript_pack_tag 'add_assignment_section'%>