<h1>Add a new class</h1>

<%= form_for @course do |f| %>
  Name* : <%= f.text_field :name %><br />
  Description : <%= f.text_area :description %><br />
  Active?*    : <%= f.check_box :active, { checked: true } %><br />
  <%= f.submit "Save Class" %>
<% end %>